$headingFontWeight: 500;
$normalTextFontWeight: 400;
$myTransition: all 0.25s ease;
$colorMap: (
    1: #F53838,
    2: #0B132A,
    3: #4F5665,
    4: #FFECEC,
    5: #2FAB73,
    6: #0D1025,
    7: #F6F6F6,
    8: #F8F8F8,
    9: #FFFFFF,
    10: #EEEFF2,
    11: #DDDD,
)